@import "../vue-test/src/styles/variables";
@import "../vue-test/src/styles/mixins";

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: $background-color;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.33);
}

.modal-header h3 {
  margin-top:0;
}

.modal-body {
  margin:20px auto;
}

.modal-default-button {
  float:right;
}

.modal-enter,
.modal-leave-active {
  opacity:0;
}

.modal-enter-active,
.modal-leave-active {
  transition:opacity .5s
}

.modal-default-button {
  color: white;
  display: flex;
  align-items: center;
  padding: $p-buttons;
  border-radius: $br-buttons;
  background: $background-item-color;
  transition: all 0.3s;
  &:hover {
    background: $background-active-color;
    transition: all 0.3s;
  }
}
