@import "../vue-test/src/styles/variables";
@import "../vue-test/src/styles/mixins";

.select-container {
  position: relative;
  width: auto;
}

.selected-option {
  border-radius: 5px;
  color: white;
  width: -webkit-fill-available;
  padding: 15px;
  border: none;
  outline: none;
}

.selected-option:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -2px;
  right: -2px;
  height: 2px;
}

.selected-option:before {
  background-image: $left-main-gradient;
}

.options-list {
  position:absolute;
  top: calc(100% +5px);
  left:-2px;
  right:-2px;
  list-style-type:none;
  margin:0;
  padding:0;
}

.option{
  background: $background-item-color;
  padding:10px;
}

.option:hover{
  background-color:$background-active-color;
}

.select-border {
  position: absolute;
  bottom: -2px;
  left: -2px;
  right: -2px;
  height: 2px;
  background-image: $left-main-gradient;
}

.select-container:focus-within .select-border {
  animation: expand .5s ease-in-out forwards;
}

@keyframes expand {
  from {
    transform: scaleX(0);
    transform-origin: left;
    background-image: $left-main-gradient;
  }

  to {
    transform: scaleX(1);
    transform-origin: right;
    background-image: $right-main-gradient;
  }
}

