@import 'variables';

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #1c1c1e;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

//Сброс стилей для кнопок

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
}

form {
  color: white;
}

h3 {
  color: white;
}
