//Цвета

$warning-color: red;
$background-color: #1c1c1e;


//Градиенты

$left-main-gradient: linear-gradient(to left, #7F00FF, #E100FF);
$right-main-gradient: linear-gradient(to right, #7F00FF, #E100FF);

//Скругления

$br-buttons: 5px;

//Отступы

$p-buttons: 10px 20px;


