@import "../vue-test/src/styles/variables";
@import "../vue-test/src/styles/mixins";

table {
  color: white;
  border-collapse: collapse;
  width: 100%;
  background-color:$background-item-color;
  border-radius: 10px 10px 0 0;
  th {
    background-color: $background-active-color;
    color: white;
    padding: 10px;
    text-align: left;
    align-self: center;
    width: 50%;
    &:first-child {
      border-top-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
    }
  }
  td {
    padding: 10px;
    border-bottom: 0.5px solid #444444;
  }
  tr:hover {
    background-color: $background-active-color;
  }
}

.sortable {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.sortable:hover i,
.sortable:active i {
  transform: scale(1.2);
  transition: transform 0.2s;
}
