@import "../vue-test/src/styles/variables";
@import "../vue-test/src/styles/mixins";

th {
  cursor: pointer;
}

.container {
  @include responsive-container;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: white;
}

.actions {
  display: flex;
  gap: 20px;
}
